{% extends 'mainmenu.html.twig' %}

{% block title %}Hello KingdomcourtController!{% endblock %}

{% block stylesheets %}
	{{ parent() }} 
{% endblock %}	


{% block main_body %}
    <div class="principal">
     <h1>Kingdom Court </h1>
   </div>
{% endblock %}
