
.contenedor {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(20,1fr);
  /*grid-template-rows: repeat(3,1fr);*/
  grid-template-rows: 4% 2% 6% 2% 82%;
 /* gap: 1em;
  row-gap: 2em;*/

}

.top {
  grid-column: 1/21;
  grid-row: 1/3; 
  z-index: 1;
  background: #7fe709;
}

.principal {
  grid-column: 1/21;
  grid-row: 4/6; 
  z-index: 1;
  background: #182904;
}

.opciones {
  grid-column: 6/15;
  grid-row: 2/5; 
  /*justify-self:center;*/
  background-image: url('../../img/menu/menu.png');  
  /*   background-size: stretch;*/
  background-repeat: no-repeat; 
  background-position:center;
  background-size: 100% 100%;
  z-index: 12;
}




/*Menu superior */
.contenedor_menu {
  display: grid;
  height: 100%;
  grid-template-columns: 20% 20% 20% 20% 20%  ;
  grid-template-rows: 100%;
  column-gap: 1%;
}
.opcion1 {
  grid-column: 2/3;
  justify-self:center;
  align-self: center;
}
.opcion2 {
  grid-column: 3/4;
  justify-self:center;
  align-self: center;
}
.opcion3 {
  grid-column: 4/5;
  justify-self:center;
  align-self: center;
}


/*linea inferior on hoover*/
	.underline-on-hover:hover {
      /*text-decoration: underline;*/
      border-bottom: 2px solid  #F117B4;
text-decoration: none; 
	}


/* Fuente  */
@font-face {
  font-family: breathe_fire;
  src:url("../../fonts/BREATHE_FIRE.OTF");
}

/* Clase que debe asignarse a un elemento para cambiar la letra */
.letra_breathe_fire {
  font-family: breathe_fire;
}

/*
.item {
   background: #ecf0f1;
  
}*/

/*
@media (min-width: 768px) {
  html {
    font-size: 1.1rem;
  }
  h1 {
      font-size: 1.3rem;
  }
  h2 {
      font-size: 1.2rem;
  }
 }
 
 @media (min-width: 991px) {
    html {
    font-size: 0.5rem;
  }
  h1 {
      font-size: 1.5rem;
  }
  h2 {
      font-size: 1.4rem;
  }
 }
 
 @media (min-width: 1200px) {
  html {
    font-size: 1.2rem;
  }
  h1 {
      font-size: 1.7rem;
  }
  h2 {
      font-size: 1.6rem;
  }
 }
 
 
*/


/* Underline Effect*/
.nav-item {
    position: relative;
  }
  
  .navbar-collapse ul li a.nav-link:before {
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 100%;
      height: 2px;
      background: transparent;
      content: '';
      opacity: 0;
      -ms-transition: opacity 0.3s, -webkit-transform 0.3s;
      -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
      transition: opacity 0.3s, transform 0.3s;
      -ms-transform: translateY(10px);
      -webkit-transform: translateY(10px);
      transform: translateY(10px);
  }
  
  .navbar-collapse ul li:hover a.nav-link:before {
      opacity: 1;
      -ms-transform: translateY(0px);
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
      bottom: 0px;
      background: #dd4343;
  }
  
  .dropdown-item:hover, .dropdown-item:focus {
      color: #ffffff;
      text-decoration: none;
      background-color: #dd4343;
  }
  
  .dropdown-menu {
    border: 0px;
  
  }

  .navbar {
    border: 0px;
    color: white;
    background-color: transparent;
  }

  .navbar .navbar-nav .nav-item.active .nav-link, .navbar .navbar-nav .nav-item.active .nav-link:hover, .navbar .navbar-nav .nav-item.active .nav-link:focus{
    color: white;
    background-color: transparent;
  }  
  /* General Styles*/
  /*body {
    background-image: url(https://images.pexels.com/photos/373974/pexels-photo-373974.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
  }*/