{% extends 'mainmenu.html.twig' %}

{% block title %}Hello PlayerArmyController!{% endblock %}

{% block body %}
{{ parent() }}


   <h1> Player Army </h1>
{% endblock %}


{% block javascripts %}

<script>

$('#main_body').addClass('fondo_login_page');
</script>
{% endblock %}



