{% extends 'main.html.twig' %}

{% block title %}Hello PlayerArmyController!{% endblock %}

{% block body %}
{{ parent() }}


    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/wamp64/www/crow/src/Controller/PlayerArmyController.php'|file_link(0) }}">src/Controller/PlayerArmyController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/wamp64/www/crow/templates/player_army/index.html.twig'|file_link(0) }}">templates/player_army/index.html.twig</a></code></li>
    </ul>
   <h1> Contenido </h1>
{% endblock %}



