{% extends 'mainmenu.html.twig' %}

{% block title %}Player Army{% endblock %}

{% block body %}
{# {{ parent() }}#}


   <h1 class="letra_breathe_fire item"> Player Army </h1>
{% endblock %}


{% block javascripts %}

<script>

//$('#main_body').addClass('fondo_login_page');
</script>
{% endblock %}



