{% extends 'mainmenu.html.twig' %}

{% block title %}
  Player Army
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('librerias/css/mainmenu.css') }}">
{% endblock %}	

{% block main_body %}
 
<div class="principal">
sss
</div>




{% endblock %}


{% block javascripts %}

   <script>
      //$('#main_body').addClass('fondo_login_page');
   </script>

{% endblock %}



